.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.margin25{
  margin-left: 25px;
}
.m-top15{
  margin-top: 25px;
}
.green  {
  color: green;
}
.color-light-blue{
  color: #19a7d6;
}
.m-top20{
  margin-top: 20px;
}
.bold{
  font-weight: 500 !important;
}
.dot-blue{

}
.float-right{
  float: right;
}