body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #aaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin25 {
  margin-left: 25px;
}

.m-top15 {
  margin-top: 25px;
}

.green {
  color: green;
}

.color-light-blue {
  color: #19a7d6;
}

.m-top20 {
  margin-top: 20px;
}

.bold {
  font-weight: 500 !important;
}

.container-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: #fff;
  padding-bottom: 50px;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(51, 3, NaN, 1);
  -moz-box-shadow: 1px 2px 4px 0px rgba(51, 3, NaN, 1);
  box-shadow: 1px 2px 4px 0px rgba(51, 3, NaN, 1);
}

.dict--title {
  display: none;
}